<div class="ad">
    <p>Discord dos Criadores</p>
    <a href="https://discord.gg/P7vzcAHMPu" target="_blank">
        <img src="https://cdn.discordapp.com/icons/870876324288417792/d9a1a6e407aacc7e02a42622947872dc.webp?size=240" alt="Anúncio 2">
        <p>Solo Nosso</p>
    </a>    
</div>