<link rel="stylesheet" href="../public/css/cabecario.css">
<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="./index.html">
        <img src="https://s2.glbimg.com/8UVa8-Uz-_WwSxofGMEbN1Jqrmn4cQsvK55PQuERN6xIoz-HdGixxa_8qOZvMp3w/s.glbimg.com/jo/g1/f/original/2012/10/31/horsehead2.jpg" alt="Logo" width="100" height="60" class="d-inline-block align-text-top" id="logo">
        <div class="cont text-white" ><h1>Alcapone</h1><h5> O melhor site de noticias Duvidosas do mundo</h5></div>
        </a>
    </div>
</nav>