
*{
    padding: 0px;
    margin: 0px;
}

html{
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    max-width: 100vw;
    max-height: 100vh;
    padding: 0px;
    margin: 0;
}

#logo{
    border-radius: 25%;
}

.cont{
    justify-content: space-between;
    margin-left: 100px;
}

.navbar-brand{
    display: flex;
    align-items: center;
}

.navbar{
    margin-bottom: 1px;
}

.carousel{
    width: 800px; 
}

.title{
    font-size: 3rem;
}

.container-carousel{
    display: flex;
    justify-content: center;
    border-bottom : 2px solid black;
    border-top: 2px solid black;
    background-color: #323232;
    transition: background-size 1s ease;
}

.container{
    display: flex;
    max-width: 100vw;
    max-height: 100vh;
    padding: 0px;
    margin-left: 100px;
    margin-right: 0px;
    margin-top: 10px;
}

.container-noticias{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    width: 600px;
    margin-right: 50px;
    gap: 50px;
    height: 100%;
    overflow: hidden;
}

.container-etec{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    width: 600px;
    height: 100%;
    margin-right: 50px;
    gap: 50px;
    overflow: hidden;
}

.container-propaganda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    gap: 70px;
    overflow: hidden;
    & img{
        transform: rotate(90deg);
        height: 500px;
        width: auto;
        overflow: hidden;
    }
    & a{
        height: min-content;
    }
}