*{
    padding: 0px;
    margin: 0px;
}

body{
    height: 100vh;

    overflow-x: hidden;
}

#logo{
    border-radius: 25%;
}

.cont{
    justify-content: space-between;
    margin-left: 100px;
}

.navbar-brand{
    display: flex;
    align-items: center;
}

.navbar{
    margin-bottom: 100px;
}

.carousel{
    width: 800px;   
}

.title{
    font-size: 3rem;
    border: solid 1px black;
}

.container-carousel{
    display: flex;
    justify-content: center;
    border-bottom : 2px solid black;
    border-top: 2px solid black;
    background-color: #323232;
}

.container{
    display: flex;
    max-width: 100vw;
    padding: 0px;
    margin-left: 100px;
    margin-right: 0px;
    margin-top: 10px;
    border-top: 1px solid black;
}

.container-noticias{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid black;
    border-left: 1px solid black;
    width: 600px;
    margin-right: 50px;
}

.container-propaganda{
    display: flex;
    overflow: hidden;
    justify-content: center;
    width: auto;
    & img{
        transform: rotate(90deg);
        transform-origin: top 0;
        width: 50%;
    }
}